{
    "apps": [{
        "name": "example",
        "description": "这是一个HTTP服务",
        "in_type": "zmq",	
	"in": "tcp://127.0.0.1:5000",
        "entrance": {
            "type": "martini",
            "options": {
                "host": "127.0.0.1",
                "port": 8080,
                "domain": "example.com",
                "headers": {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "http://example.com",
                    "Access-Control-Allow-Credentials": "true",
                    "Access-Control-Allow-Methods": "POST",
                    "Access-Control-Allow-Headers": "X-API, Origin, X-Requested-With, Content-Type, Accept",
                    "P3P": "CP=\"CURa ADMa DEVa PSAo PSDo OUR BUS UNI PUR INT DEM STA PRE COM NAV OTC NOI DSP COR\""
                }
            }
        },
        "graphs": {
            "user.info.get": ["com1", "com2", "com3"],
            "user.info.save": ["com2", "com3", "com1"],
            "demo": ["com1"],
            "handle_rotato": ["com4"]
        }
    }, {
        "name": "syncService",
        "description": "这是一个zmq服务",
        "in_type": "zmq",
	"in":"tcp://127.0.0.1:6000",	
        "entrance": {
            "type": "zmq",
            "options":{
                "address": "tcp://127.0.0.1:5555"
            }
        },
        "graphs": {
            "demo": ["self"]
        }
    }],
    "components": [{
        "name": "com1",
        "description": "this is com1",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5001"
    }, {
        "name": "com2",
        "description": "this is com2",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5002"
    }, {
        "name": "com3",
        "description": "this is com3",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5003"
    }, {
        "name": "com4",
        "description": "this is com4",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5004"
    }]
}
