{
    "apps": [{
        "name": "example",
        "description": "this is http service",
        "entrace": "martini",
	"domain": "example.com",
        "addr": "127.0.0.1:8088",
        "in_type": "zmq",
        "in_addr": "tcp://127.0.0.1:5000",
        "graphs": {
            "user.info.get": ["com1", "com2", "com3"],
            "user.info.save": ["com2", "com3", "com1"],
            "demo": ["com1"]
        }
    },{
        "name": "syncService",
        "description": "这是一个用zmq通信的服务",
        "entrace": "zmq",
        "addr": "tcp://127.0.0.1:5555",
        "in_type": "zmq",
        "in_addr": "tcp://127.0.0.1:5000",
        "graphs": {
            "demo": ["self"]
        }
    }],
    "components": [{
        "name": "com1",
        "description": "this is com1",
        "type": "zmq",
        "in": "tcp://127.0.0.1:5001"
    }, {
        "name": "com2",
        "description": "this is com2",
        "type": "zmq",
        "in": "tcp://127.0.0.1:5002"
    }, {
        "name": "com3",
        "description": "this is com3",
        "type": "zmq",
        "in": "tcp://127.0.0.1:5003"
    }]
}
