{
    "components": [{
        "name": "com1",
        "description": "this is com1",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5001"
    }, {
        "name": "com2",
        "description": "this is com2",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5002"
    }, {
        "name": "com3",
        "description": "this is com3",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5003"
    }, {
        "name": "com4",
        "description": "this is com3",
        "mq_type": "zmq",
        "in": "tcp://127.0.0.1:5004"
    }]
}